@media (max-width: 734px) {
    body {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "aside";
    }

    .date-and-time-section {
        text-align: center;
    }

    .month-grid {
        transform: translate(-50%, -40%);
    }

    .todoList {
        height: auto;
    }

    .modal {
        width: 100%;
        height: auto;
        background-color: #ccc;
        padding-bottom: 2rem;
    }

    .card {
        padding: 1rem;
    }
}